/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom CSS rules can go here */

body, div, nav {
  background-color: #F7F5FA;
  color: #15406B;
}

html {
  scroll-behavior: smooth;
}